# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react18-crud-demo/node_modules
react18-crud-demo/.pnp
react18-crud-demo/.pnp.js

# testing
react18-crud-demo/coverage

# production
react18-crud-demo/build

# misc
react18-crud-demo/.DS_Store
react18-crud-demo/.env.local
react18-crud-demo/.env.development.local
react18-crud-demo/.env.test.local
react18-crud-demo/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#.NET bin folder
ReactAPI.Demo/bin
ReactAPI.Demo/obj

